<div *ngIf="loading" class="loading">
    <div class="fire">
        <div class="flames">
            <div class="flame"></div>
            <div class="flame"></div>
            <div class="flame"></div>
            <div class="flame"></div>
        </div>
        <div class="logs"></div>
    </div>
</div>
<table class="environment">
    <tr *ngFor="let terrainList of env.Terrain; let terrainIndex = index">
        <th *ngFor="let terrain of terrainList.Terrains" (click)="clickTableSpace(terrain)"
        [ngClass]="{'noFire': terrain.FireState === 0,
            'ignition': terrain.FireState === 1,
            'growth': terrain.FireState === 2,
            'fully-developed': terrain.FireState === 3,
            'decay': terrain.FireState === 4
        }"> {{getEnumFireState(terrain.FireState)}}
            <div class="terrainSpace"(click)="$event.stopPropagation()" [ngClass]="{'Sand': terrain.terrainColor === 'Sand',
                'Concrete': terrain.terrainColor === 'Concrete',
                'WetFlammableFuel': terrain.terrainColor === 'WetFlammableFuel',
                'DryFlammableFuel': terrain.terrainColor === 'DryFlammableFuel',
                'WetLessFlammableFuel': terrain.terrainColor === 'WetLessFlammableFuel',
                'DryLessFlammableFuel': terrain.terrainColor === 'DryLessFlammableFuel',
                'Water': terrain.terrainColor === 'Water',
                'notype': terrain.terrainColor === null || terrain.terrainColor === ''
            }"
            >{{terrain.terrainColor}}</div>
            <div>OnFirePercentage: {{terrain.AgentOnFirePercentage}}</div>
            <div>WaterPercentage: {{terrain.WaterPercentage}}</div>
            <div>PercentageOfFuel: {{terrain.PercentageOfFuel}}</div>
            
        </th>
    </tr>
</table>
<button type="button" class="btn btn-success pull-right" (click)="executeTurn()"> Execute Turn </button>
<!-- 
<button type="button" class="btn btn-success pull-right" (click)="scenario4()"> Scenario 4 Weather Rainfall 5% </button>
<button type="button" class="btn btn-success pull-right" (click)="scenario5()"> Scenario 5 Weather East Wind, 10mph </button>





<div class="weather">
    <p>Random Lighting</p>
    <input type="checkbox" name="randomLightning">

    <p>Random Wind</p>
    <input type="checkbox" name="randomWind">

    <p>Random Rain</p>
    <input type="checkbox" name="randomRain">
    
</div>



<h1 *ngIf="randomLightning">light</h1>
<h1 *ngIf="randomWind">wind</h1>
<h1 *ngIf="randomRain">rain</h1>
<button type="button" class="btn btn-success pull-right" (click)="testValue()"> test vals </button> -->
