################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WildfireSimulation/.vs
/WildfireSimulation/bin/Debug/net8.0
