<!-- <table class="environment">
    <tr *ngFor="let terrainList of env.Terrain; let terrainIndex = index">
        <th *ngFor="let terrain of terrainList.Terrains" (click)="clickTableSpace(terrain)"
        [ngClass]="{'noFire': terrain.FireState === 0,
            'ignition': terrain.FireState === 1,
            'growth': terrain.FireState === 2,
            'fully-developed': terrain.FireState === 3,
            'decay': terrain.FireState === 4
        }">
            <div class="terrainSpace"(click)="$event.stopPropagation()" (click)="clickTerrainSpace(terrain)" [ngClass]="{'Sand': terrain.terrainColor === 'Sand',
                'Concrete': terrain.terrainColor === 'Concrete',
                'WetFlammableFuel': terrain.terrainColor === 'WetFlammableFuel',
                'DryFlammableFuel': terrain.terrainColor === 'DryFlammableFuel',
                'WetLessFlammableFuel': terrain.terrainColor === 'WetLessFlammableFuel',
                'DryLessFlammableFuel': terrain.terrainColor === 'DryLessFlammableFuel',
                'Water': terrain.terrainColor === 'Water',
                'notype': terrain.terrainColor === null || terrain.terrainColor === ''
            }"
            >{{terrain.terrainColor}}</div>
            
        </th>
    </tr>
</table> -->